* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topbar {
    background-image: url('https://manybooks.net/sites/default/files/2018-07/bookstackssmall.jpg');
}

#search-bar {
    width: 50%;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 55px;
    border-radius: 100vw;
}

.title {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

.openbtn {
    /* font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none; */
    width: 230px;
}