* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topbar {
    background-image: url('https://manybooks.net/sites/default/files/2018-07/bookstackssmall.jpg');
}

#search-bar {
    width: 50%;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 55px;
    border-radius: 100vw;
}

.title {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.closebtn {
    width: 0 !important;
}

.icon {
    font-size: 40px;
    cursor: pointer;
}

.openbtn {
    /* font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none; */
    width: 600px;
}

.card {
    border: 0;
}

.clicked-book {
    border: 2px solid red;
}

.emptyCart {
    position: absolute;
    bottom: 10;
    list-style: none;
}

.sidebar h3 {
    margin-left: 15px;
}

#count {
    margin-left: 15px;
}